$light-grey: #f5f5f5;

.products-container {
  display: flex;
  height: 93vh;
}

.products-grid {
  width: 60vw;
  display: flex;
  margin: 2.5vw auto 0 auto;
  flex-wrap: wrap;
  transition: 0.5s linear;
  overflow-y: scroll;
  height: 85vh;

  .product-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: $light-grey;
    box-shadow: 8px 7px 3px -6px rgba(0,0,0,0.75);
    margin: 20px;
    transition: 0.5s linear;
    width: 25vw;
    height: 35vh;
    overflow: hidden;
    
    img {
      transition: 0.3s linear;
      margin: 10px auto;
      height: 150px;
      width: 150px;
      z-index: 3;
    }

    div {
      h6 {
        text-align: center;
        font-family: inherit;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
      }

      p {
        text-align: center;
        margin: 3px 15px 20px 15px;
      }
    }
  }
}

.products-list {
  flex-direction: column;
  flex-wrap: nowrap;
  transition: 0.5s linear;
  overflow-y: scroll;
  justify-content: center;
  flex: 1 1 auto;
  min-height: 0px;

  .product-card {
    flex-direction: row;
    width: 90%;
    height: 300px;
    margin: 2px 20px;

    img {
      transition: 0.3s linear;
      margin: auto 10px;
    }

    div {
      display: flex;
      justify-content: center;

      h6 {
        margin: auto 1vw;
      }

      p {
        margin: auto 1vw;
      }
    }
  }
}