<div class="products-container">
  <app-products-filters></app-products-filters>
  <div class="products-list">
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
    <div class="product-card">
      <img src="http://placehold.it/150x150" alt="">
      <h6>Product Name</h6>
      <p>This is a normal product description.</p>
      <p>1.0$</p>
    </div>
  </div>
</div>