<div class="products-options">
  <div class="display">
    <span>Display </span>
    <div (click)="onDisplayClick()" class="switch">
      <label>
        Grid
        <input type="checkbox" [(ngModel)]="display">
        <span class="lever"></span>
        List
      </label>
    </div>
  </div>
  <div class="line-separator"></div>
  <h5>Filters</h5>
  <div class="filters">
    <p (click)="onFreeClick()">
      <input type="checkbox" id="free" [(ngModel)]="isFreeChecked" />
      <label for="free">FREE</label>
    </p>
    <p (click)="onTechnologyClick()">
      <input type="checkbox" id="technology" [(ngModel)]="isTechnologyChecked" />
      <label for="technology">Technology</label>
    </p>
  </div>
</div>